* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 0.6em;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    font-size: .1.1250em;
    color: #4a4a4a;
    background: #F4F4F4;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
/*    background-color: #333;*/
    color: white;
    padding: 3em;
/*    styles for fixed position*/
    position: fixed;
    background-color: #f4f4f4;
    width: 100%;
    top: 0;
    border-color: #cccccc;
    border-bottom-style: dotted;
    padding-bottom: 1.3em;
    z-index: 1;
}

nav img{
    float: left;
    margin: 0.3em 1.6em;
    margin-top: 0;
    cursor: pointer;
}

nav img:hover {
/*    filter: brightness(0) saturate(100%) invert(22%) sepia(86%) saturate(7482%) hue-rotate(353deg) brightness(106%) contrast(129%);*/
      filter: invert(0.38) sepia(1) saturate(17.6) hue-rotate(326deg) brightness(1.2);

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;

}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.18em;
}

nav ul li a:hover {
    color: black;
    text-decoration: underline;
    color: #3E3535;
    font-weight: 600;
}

nav ul li a.active {
    color: #333;
  text-decoration: underline;
  font-weight: 600;
}

main {
    flex: 1;
    padding: 2em;
    padding-top: 0;
}

section {
    margin-bottom: 2em;
}

section h2 {
/*    margin-bottom: 0.5em;*/
    border-top-style: dotted;
    border-color: #A0A0A0;
    padding-top: 1em;
}

/* Main Content */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
    margin-top: 8em;
}

.container p:first-child {
    font-size: 1.8em;
    font-weight: bold;
    font-style: normal;
    width: 18%;
    flex: auto;
    padding-left: 0;
}

.description {
    font-size: 1.1em;

}
.container p img{
    padding-top: 4%;
}

.box {
    flex: 1 1 calc(60% - 1em); /* Adjust for gap */
    padding: 1em;
    text-align: left;
    font-size: 1.36em;
    font-style: italic;
    line-height: 1.8em;
    letter-spacing: 0.03em;
}

footer {
    background-color: #f1f1f1;
    color: #4a4a4a;
    text-align: center;
    padding: 2em 3em;
}
footer p {
    float: left;
}
footer p:first-child {
    float: right;
}

.quotetationMarks {
  font-size: 2em;
  font-weight: 600;
/*  font-size: 4em;*/
color: #3f433f;
}

.cont_portfolio {
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
    padding-top: 8em;
}

.images {
    display: inline-flex;
    float: left;
    width: 100%;
    padding: 10em;
    padding-top: 1em;
    padding-bottom: 0;
}

.images img {
/*    This is for new images and tittle */
        float: left;
    width: 50%;
    height: fit-content;
    padding: 0.4em;  /*  I put this space betwen images  */
}

.new_tittle {
    float: left;
    width: 100%;
    padding: 11em;
    padding-bottom: 0;
    padding-top: 0;
}

.nostyle{
    border-top-style: none;
}
.subtitle {
        padding-top: 0.2em;
}

.New_contentBox{
    float: left;
    width: 100%;
        display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 9em;
    padding-top: 0;
    padding-bottom: 4em;
}

.Newinside_content {
    padding: 1.5em;
    text-align: left;
    line-height: 1.8em;
    letter-spacing: 0.03em;
    padding-top: 0.5em;
}
.Newinside_content ul {
    font-size: 0.9em;
    line-height: 1em;
    list-style-type: none;
}

.Newinside_content:nth-child(2){
    padding-left: 4em;
}

.Newinside_content ul li b {
    line-height: 1.5em;
}

#navigation {
    position: fixed;
    width: 90%;
    padding: 1em 0em 2em 16em;
    margin: auto;
    top: 7.9em;
    background: #f4f4f4;
    z-index: 1;
    
}

#navigation ul {
    list-style: none;
    display: flex;
}

#navigation ul li {
    background-color: #F4F4F4;
    color: #404040;
}

#navigation ul li a {
    text-decoration: none;
    color: #404040;
    color: #404040;
    padding: 0.5em 2em;
    margin: 0.6em;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #D2CBCB;
    border-radius: 2em;
}

#navigation ul li a:hover {
    border: 1px solid #ad9e9e;
}

.page {
    position: relative;
    display: none;
    overflow: scroll;
/*    2nd example sith js*/
        margin-top: 3em;
}


@media screen and (min-width: 1024px) {

    .Newinside_content {
            flex: 1 1 calc(50% - 1em);
        }

}





@font-face {
  font-family: 'LaFont';
  src: url('../fonts/gothamhtfBook.eot') format('eot'), url('../fonts/gothamhtfBook.woff') format('woff'), url('../fonts/gothamhtfBook.ttf') format('truetype');
} 

@media screen and (max-width: 641px){
    .titleDetaill{
      width: 99%;
    }
    .titleDetaill h3 {
      width: 98.3%;
    }
    .Box_container{
        width: 100%
    }
    .txt_container{
      width: 100%; 
      font-size: 1em;
      line-height: 1.6em;
      margin-bottom: 20px;
    }
    .txt_container span{
      position: static; 
      padding: 12px 81px; 
    }
    .img_container{
      width: 99.99%;
      margin-bottom: 5%;
    }     
    .modal-images {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }        
    .modal-images figure img {
      width: 90%;
      margin-top: 15px;
    }
    .modal-description{
      width: 84%;
      margin-top: 0; 
      padding: 0 9% 0 8%;
    }
  }

  @media only screen and (min-width:641px) and (max-width:1080px){
  .Box_container {
      width: 100%;
      margin-top: 1em;
    }      
}
@media (max-width: 641px) {    
    h1{
        width: 100%;
        font-size: 26px!important;
        }
    h2{
        margin-top: 0px;
    }    
    header img{
        margin-right:14px;
    }
  }

@media (min-width: 768px) {
 /* section article .description{
    width: 64.99%;      
      float: left;
      font-size: 1.4em;
      line-height: 2em;      
  } */
  .collage{
    margin: 0 auto;
      text-align: center;     
      width: 34.99%;
      float: left;
      margin-top: -30px;
  }
  .collage img{
    float: right;
  }  
}
